@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOviewR</h1>
    <p class="lead">MOviewR simple website to demonstrate  build of web applications using ASP.NET MVC ,Bootstrap.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>